*{
    background-color: #002366;
}

.header{
    text-align: center;
    
}

.header h1 {
    font-family: 'Bebas Neue';
    color: #FA8072;
    letter-spacing: 4px;
    font-size: 60px;
}

.header hr{
    color: #FFDAB9;
}
.links {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFDAB9;
    border-radius: 4rem;
    width: 1500px;
    height: 90%;
    padding: 2rem;
    margin: Auto;
}

.links a {
    font-family: 'Bebas Neue';
    background-color: #FFDAB9;
    font-size: 50px;
    color: #0F52BA;;
}

.links div {
    background-color: #0F52BA;
}