body {
    font-family: 'Rubik', sans-serif;
    line-height: 1.4;
    background-color: #046d3c;
    min-width: 90%;
    width: 1500px;
    margin: auto;
    bottom: 150px;
}
.header{
    text-align: center;
}
.header h1{
    font-family: 'Dancing Script';
    color: white;
    font-size: 80px;
    
}
.container{
    background:#F8EDE3;
    border-radius: 2rem;
    width: 100%;
    margin: auto;
    top: 10px;
    position: relative;
    display: flex;
    padding-right: 2rem;
    margin-bottom: 45px;
    height: auto;
    box-shadow: 0px 25px 83px 0px rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 25px 83px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 0px 25px 83px 0px rgba(0,0,0,0.9);
}
.Form-Title{
    text-align: center;
    
}

.survey {
    padding-bottom: 2rem;
    border-radius: 2rem;
    width: 100%;
    margin-right: 20px;
    justify-content: space-around;
    flex: 1;
}

.image {
   
    border-radius: 2rem 0 0 2rem;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}



.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details label {
    color: #046d3c;
}

.details input{
    padding: .5rem .5rem .5rem 1rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: transparent;
    width: 100%;
}
.dropdown select{
    min-width: 15rem;
    outline: none;
    padding: .5rem;
    border: 0.5px solid #646464;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    font-family: 'Rubik', sans-serif;
} 

.Drink {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Drink label{
    color: #046d3c;
}
#flavor{
    color: #046d3c;
}

.Drink input{
    padding: .5rem .5rem .5rem 1rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    background-color: transparent;
    width: 100%;
}


.dropdown label{
    color: #046d3c;
}

#dropdown{
    min-width: 15rem;
    outline: none;
    padding: .5rem;
    border: 0.5px solid #646464;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    font-family: 'Rubik', sans-serif;
    width: 100%;
}

#Size{
    color: #046d3c;
}


.custom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text{
    text-align: center;
}
.text textarea{
    outline: none;
    resize: none;
    border: 0.5px solid #646464;
    border-radius: 2rem;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    color: #353535;
    padding: 1rem;
    width: 700px;
    background-color: #F8EDE3;
}

.button{
    width: 100%;
    padding: 0.75rem;
    background: #F8EDE3;
    color: #046d3c;
    border-radius: 4px;
    font-family: 'Rubik';
    transition: ease-out 0.3s;
    outline: none;
    font-size: 2rem;
    box-shadow: inset 0 0 0 0 #046d3c;
}
.button:hover{
    box-shadow: inset 750px 0 0 0 #046d3c;
    color: white;
}

